:root{
  --color-primary:#254D32;
  --color-secondary:#3A7D44;
  --color-accent: #d3b42b;
  --color-headings: #1b0760;
  --color-body: #918ca4;
}
/*
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 900

.rubik-<uniquifier> {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}/*