<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
<div class="hello">
        <header class="collapsible__header">
            <h2>Item 1</h2>
        </header>
        <h1 class="prevent ">HelloWorld
        </h1>
        <div class="collapsible">
        <span class="icon-container">
            <svg class="icon">
                <use xlink:href="/images/sprite.svg#menu"></use>
            </svg>
        </span>
                <div class="collapsible__content">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, voluptates.
                </div>
        </div>
</div>
<script src="/js/main.js"></script>
</body>
</html>