<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <title>Gallery</title>
</head>
<body>
    <h1>Hello</h1>
    <div class="gallery container">
        <img class="gal-pic" src="/images/Gal1 (1).jpg" alt="">
        <img class="gal-pic" src="/images/Gal1 (11).jpg" alt="">
        <img class="gal-pic pic-left" src="/images/Gal1 (3).jpg" alt="">
        <img class="gal-pic" src="/images/Gal1 (15).jpg" alt="">
        <img class="gal-pic" src="/images/Gal1 (7).jpg" alt="">
        <img class="gal-pic pic-left" src="/images/Gal1 (2).jpg" alt="">
        <img class="gal-pic" src="/images/Gal1 (13).jpg" alt="">
        <img class="gal-pic" src="/images/Gal1 (9).jpg" alt="">
        <img class="gal-pic pic-left" src="/images/Gal1 (5).jpg" alt="">
        <img class="gal-pic" src="/images/Gal1 (6).jpg" alt="">
        <img class="gal-pic" src="/images/Gal1 (8).jpg" alt="">
        <img class="gal-pic pic-left" src="/images/Gal1 (12).jpg" alt="">
        <img class="gal-pic" src="/images/Gal1 (10).jpg" alt="">
        <img class="gal-pic" src="/images/Gal1 (14).jpg" alt="">
        <img class="gal-pic pic-left" src="/images/Gal1 (16).jpg" alt="">
    </div>
</body>
</html>