<section class="block container">
    <header class="block__header">
        <h2 class="block__heading">Heading</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint enim temporibus ab consectetur laudantium reiciendis in, recusandae asperiores suscipit non.</p>
    </header>
    <div style="width: 40%; padding: 4rem">
            <div class="card card--secondary">
                 <header class="card__header">Heading!</header>
                 <div class="card__body">
                   Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, commodi?
                 </div>
            </div>
    </div> 
</section>
   <section class="block block--dark block--skewed-left">
    <div class="container">
        <header class="block__header">
        <h2 class="block__heading">Heading</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint enim temporibus ab consectetur laudantium reiciendis in, recusandae asperiores suscipit non.</p>
        </header>
    </div>
   </section>