<div class="collapsible collapsible--expanded">
    <header class="collapsible__header">
        <h2 class="collapsible__heading">Item 1</h2>
            <svg class="icon icon--white collapsible__chevron">
            <use href="images/sprite.svg#chevron"></use>
            </svg>
    </header>
    <div class="collapsible__content">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia placeat cumque deleniti deserunt magnam! Nemo, obcaecati dolores ducimus porro eaque atque in autem maiores totam maxime odio nisi, quod mollitia!</p>
    </div>
</div>
<script src="js/main.js"></script>